{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        // "targets": "last 1 version",
        "targets": "node 8",
        "useBuiltIns": "entry"
      }
    ]
  ]
}