{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        // "targets": "node 8",
        // "targets": "last 1 version",
        "useBuiltIns": "usage"
      }
    ],
    [
      "minify", {
        "removeConsole": true
      }
    ]
  ]
}